.inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 9px;
    width: 310px;
    -webkit-backdrop-filter: blur(16px) saturate(100%);
    backdrop-filter: blur(10px);
    cursor: pointer;

}

.inner:hover{
    box-shadow: 0 1px 1px rgba(77, 70, 70, 0.558)
}

.contents{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 7px;
}

.head-group{
    display: flex;
    flex-direction: row;
}

.length{
    display: flex;
    flex-direction: row;
}

.css-1mk3mai {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.css-18djg9v .main {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 12px;
}

.css-18djg9v .main .info {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    height: 58px;
}

.css-18djg9v .main .game-stats {
    display: flex;
    flex-direction: column;
    height: 58px;
    flex: 1 1 0%;
    padding-left: 8px;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: var(--game-item-color-200);
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
}

.css-10z45t0 {
    display: flex;
    gap: 2px;
}

.css-18djg9v .sub .items {
    display: flex;
    align-items: flex-start;
    gap: 2px;
}



.champion{
    position: relative;
}

.champion-level {
    
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    width: 20px;
    height: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    color: rgb(255, 255, 255);
    background: rgb(32, 45, 55);
    border-radius: 50%;

}

.game-lose{
    background: var(--c-red);
}

.game-win{
    background: var(--c-blue);
}

.match-history{
    overflow: auto;
    min-width: 333px;
    height: 100%;
    overflow-x: hidden;
    /* box-shadow: inset 0px 10px 5px #edff00, inset 0px -10px 5px #edff00; */
    /* box-shadow: inset 0px 23px 11px -10px #edff00; */
}

.kda{
    width: 80px;
}

.kda-ratio{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.post-builder-container{
    width: 100%;
    min-width: 400px;
    padding: 0px 15px 0px 15px;
}

