.navSpan{
    align-items: center;
    display: flex;
    gap: 5px;
    border-radius: 25px;
    padding: 8px;
    width: 160px;
  
    color: var(--text-color) !important;
  }


.spanName{
  color: var(--text-color);
}

@media only screen and (max-width: 768px) {


    .spanName{
      display: none !important;
    }

    .navSpan{
        width: auto;
    }

  } 


  nav{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color);
    height: 100vh;
    padding-left: 22px;
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 20px;


  }

  @media only screen and (max-width: 768px) {
    nav{


      position: absolute;
      flex-direction: row;

      align-items: center;

      height: var(--navbar-height);
      width: 100vw;
      bottom: 0;
      border-right: 0px;
     
      padding: 12px 25px 12px 25px;

      z-index: 1;

    }

    #navMenu, #navSetting{
      display: flex;
      flex-direction: row;
    }

  } 

  .nm {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .p-2 {
    padding: 8px;
  }
  .gap-2 {
      gap: 2px;
  }

nav{
  border: none;
}

.material-icons{
  color: var(--text-color) !important;
}
