@import './base.css';
@import './nav.css';
@import './post.css';
@import './profileCard.css';
@import './lolStatsEmbed.css';

*{
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


.fs-14{font-size: 14px;}
.fs-12{font-size: 12px;}


body{


  display: flex;
  flex-direction: row;
  width: 100vw;
  background: var(--background-color-soft) !important;
  color: var(--text-color) !important;

  

}

p{
  margin: 0px 0px 0px 0px !important;
}



.transi-100{
  transition: 600ms;
  user-select: none;
}

.boutonPerso{
  background-color: rgb(140, 150, 150);
  padding: 6px;
  border: none;
}


#app {
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  /* background: linear-gradient(218deg, rgb(55 71 79) 0%, rgb(22 30 41) 100%); */
}

#feedContainer{
  
  overflow: auto;

  width: 100%;
  height: 100vh;


  flex-direction: column;
  align-items: center;
  display: flex;

  background: url('./ooorganize.svg');

}


.w-full{
  width: 95%;
}

.ppimg{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}


#loginForm{
  padding: 50px 50px 50px 50px;
  margin: 0px;
  border-radius: 25px;
}

#loginViewContainer{
  background-image: url('https://cdn.midjourney.com/b391d35d-3648-4efe-8c8a-e44ebf8e5a9d/0_1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

#loginDiscordBtn{
  background: #5865f2cc;
  box-shadow: 15px 12px 44px rgb(45 37 37 / 70%);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(15px) saturate(200%);
  border: 1px solid rgba(255, 255, 255, 0.31);
  margin-top: 60vh;
}

a{
  text-decoration: none !important;
}



* {
  scrollbar-width: auto;
  scrollbar-color:  var(--text-color) var(--background-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  background-color: var(--background-color);
}



*::-webkit-scrollbar-thumb {
  border: 2px solid var(--text-color);
  background: var(--text-color);

}

.general-input{
  border: var(--border-color) solid 1;
  border-radius: 5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.active{
  display:block !important;
}

.makeApostContainer{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: url(/src/assets/ooorganize.svg);
  
}

@media only screen and (max-width: 768px) {
  .makeApostContainer {

      flex-wrap: wrap;

  }
}

input, textarea{
  border: 0;
  border-left: solid;
  border-bottom: solid 1px;
  background: 0;
}

form {

  width: 600px;

  height: -webkit-fill-available;
  padding: 18px;
  border: 1px solid var(--border-color);
  background: rgb(255 255 255 / 2%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
  border: 1px solid rgb(255 255 255 / 35%);
  justify-content: space-around;
}